.flex-item-5 {
  background-color: #ffa500;
  width: 220px;
}

.flex-item-4 {
  background-color: #20b2aa;
}

.flex-item-3 {
  background-color: #9477af;
}

.flex-item-2 {
  background-color: #7d93e0;
}

.flex-item-1 {
  background-color: #f08080;
}
